<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-address-heading" jhiTranslate="coachApp.address.home.createOrEditLabel">Create or edit a Address</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!address.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="address.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.address.street" for="field_street">Street</label>
                    <input type="text" class="form-control" name="street" id="field_street"
                        [(ngModel)]="address.street" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.address.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="address.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.address.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                        [(ngModel)]="address.state" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.address.zipcode" for="field_zipcode">Zipcode</label>
                    <input type="text" class="form-control" name="zipcode" id="field_zipcode"
                        [(ngModel)]="address.zipcode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.address.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                        [(ngModel)]="address.country" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
