<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="upload">
            <h2><span jhiTranslate="coachApp.upload.detail.title">Upload</span> {{upload.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coachApp.upload.name">Name</span></dt>
                <dd>
                    <span>{{upload.name}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.upload.description">Description</span></dt>
                <dd>
                    <span>{{upload.description}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.upload.file">File</span></dt>
                <dd>
                    <div *ngIf="upload.file">
                        <a (click)="openFile(upload.fileContentType, upload.file)" jhiTranslate="entity.action.open">open</a>
                        {{upload.fileContentType}}, {{byteSize(upload.file)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="coachApp.upload.fieldServiceRequest">Field Service Request</span></dt>
                <dd>
                    <div *ngIf="upload.fieldServiceRequest">
                        <a [routerLink]="['/field-service-request', upload.fieldServiceRequest?.id, 'view']">{{upload.fieldServiceRequest?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/upload', upload.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
