<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-site-heading" jhiTranslate="coachApp.site.home.createOrEditLabel">Create or edit a Site</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!site.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="site.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="site.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.emailAddress" for="field_emailAddress">Email Address</label>
                    <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                        [(ngModel)]="site.emailAddress" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                        [(ngModel)]="site.phoneNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.altPhoneNumber" for="field_altPhoneNumber">Alt Phone Number</label>
                    <input type="text" class="form-control" name="altPhoneNumber" id="field_altPhoneNumber"
                        [(ngModel)]="site.altPhoneNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.fax" for="field_fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="field_fax"
                        [(ngModel)]="site.fax" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.website" for="field_website">Website</label>
                    <input type="text" class="form-control" name="website" id="field_website"
                        [(ngModel)]="site.website" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.industry" for="field_industry">Industry</label>
                    <input type="text" class="form-control" name="industry" id="field_industry"
                        [(ngModel)]="site.industry" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.street" for="field_street">Street</label>
                    <input type="text" class="form-control" name="street" id="field_street"
                        [(ngModel)]="site.street" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="site.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                        [(ngModel)]="site.state" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.zipcode" for="field_zipcode">Zipcode</label>
                    <input type="text" class="form-control" name="zipcode" id="field_zipcode"
                        [(ngModel)]="site.zipcode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                        [(ngModel)]="site.country" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.site.primaryContact" for="field_primaryContact">Primary Contact</label>
                    <select class="form-control" id="field_primaryContact" name="primaryContact" [(ngModel)]="site.primaryContact">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactOption.id === site.primaryContact?.id ? site.primaryContact : contactOption" *ngFor="let contactOption of primarycontacts; trackBy: trackContactById">{{contactOption.firstName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
