<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="site">
            <h2><span jhiTranslate="coachApp.site.detail.title">Site</span> {{site.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coachApp.site.name">Name</span></dt>
                <dd>
                    <span>{{site.name}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.emailAddress">Email Address</span></dt>
                <dd>
                    <span>{{site.emailAddress}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{site.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.altPhoneNumber">Alt Phone Number</span></dt>
                <dd>
                    <span>{{site.altPhoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.fax">Fax</span></dt>
                <dd>
                    <span>{{site.fax}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.website">Website</span></dt>
                <dd>
                    <span>{{site.website}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.industry">Industry</span></dt>
                <dd>
                    <span>{{site.industry}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.street">Street</span></dt>
                <dd>
                    <span>{{site.street}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.city">City</span></dt>
                <dd>
                    <span>{{site.city}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.state">State</span></dt>
                <dd>
                    <span>{{site.state}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.zipcode">Zipcode</span></dt>
                <dd>
                    <span>{{site.zipcode}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.country">Country</span></dt>
                <dd>
                    <span>{{site.country}}</span>
                </dd>
                <dt><span jhiTranslate="coachApp.site.primaryContact">Primary Contact</span></dt>
                <dd>
                    <div *ngIf="site.primaryContact">
                        <a [routerLink]="['/contact', site.primaryContact?.id, 'view']">{{site.primaryContact?.firstName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/site', site.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
