<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contact-email-heading" jhiTranslate="coachApp.contactEmail.home.createOrEditLabel">Create or edit a Contact Email</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contactEmail.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contactEmail.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.contactEmail.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="contactEmail.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.contactEmail.confirmed" for="field_confirmed">Confirmed</label>
                    <input type="checkbox" class="form-control" name="confirmed" id="field_confirmed"
                        [(ngModel)]="contactEmail.confirmed" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.contactEmail.primary" for="field_primary">Primary</label>
                    <input type="checkbox" class="form-control" name="primary" id="field_primary"
                        [(ngModel)]="contactEmail.primary" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachApp.contactEmail.contact" for="field_contact">Contact</label>
                    <select class="form-control" id="field_contact" name="contact" [(ngModel)]="contactEmail.contact" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactOption.id === contactEmail.contact?.id ? contactEmail.contact : contactOption" *ngFor="let contactOption of contacts; trackBy: trackContactById">{{contactOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
